In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import pandas_profiling as pp

In [3]:
conda install pandas-profiling

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==2019.07=py37_0
  - defaults/win-64::numba==0.44.1=py37hf9181ef_0
done

## Package Plan ##

  environment location: C:\Users\Tero\Anaconda3

  added / updated specs:
    - pandas-profiling


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _anaconda_depends-2019.03  |           py37_0           6 KB
    anaconda-custom            |           py37_1           3 KB
    ca-certificates-2020.1.1   |                0         125 KB
    certifi-2020.4.5.1         |           py37_0         156 KB
    conda-4.8.3                |           py37_0         2.8 MB
    pandas-profiling-1.4.1     |           py37_0          39 KB
    tbb-2018.0.5               |       he980bc4_0         150 KB
    ------------------------------------------------------------
                                           Total:         3.3 MB

The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/win-64::_anaconda_depends-2019.03-py37_0
  pandas-profiling   pkgs/main/win-64::pandas-profiling-1.4.1-py37_0
  tbb                pkgs/main/win-64::tbb-2018.0.5-he980bc4_0

The following packages will be UPDATED:

  ca-certificates                               2019.5.15-0 --> 2020.1.1-0
  certifi                                  2019.6.16-py37_0 --> 2020.4.5.1-py37_0
  conda                                       4.7.12-py37_0 --> 4.8.3-py37_0

The following packages will be DOWNGRADED:

  anaconda                                   2019.07-py37_0 --> custom-py37_1



Downloading and Extracting Packages

ca-certificates-2020 | 125 KB    |            |   0%
ca-certificates-2020 | 125 KB    | #2         |  13%
ca-certificates-2020 | 125 KB    | ########## | 100%

anaconda-custom      | 3 KB      |            |   0%
anaconda-custom      | 3 KB      | ########## | 100%

pandas-profiling-1.4 | 39 KB     |            |   0%
pandas-profiling-1.4 | 39 KB     | ####1      |  41%
pandas-profiling-1.4 | 39 KB     | ########## | 100%

certifi-2020.4.5.1   | 156 KB    |            |   0%
certifi-2020.4.5.1   | 156 KB    | ########## | 100%

tbb-2018.0.5         | 150 KB    |            |   0%
tbb-2018.0.5         | 150 KB    | ########## | 100%

_anaconda_depends-20 | 6 KB      |            |   0%
_anaconda_depends-20 | 6 KB      | ########## | 100%

conda-4.8.3          | 2.8 MB    |            |   0%
conda-4.8.3          | 2.8 MB    | ######6    |  67%
conda-4.8.3          | 2.8 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [11]:
data = pd.read_csv("C://Users//Tero//Desktop//RIC//data.csv")

In [12]:
data.head(3)

,id,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,51.663014,1,165,64.0,130,70,3,1,0,0,0,1

In [13]:
data.drop("id",axis=1,inplace=True)
data.drop_duplicates(inplace=True)
data["bmi"] = data["weight"] / (data["height"]/100)**2
out_filter = ((data["ap_hi"]>250) | (data["ap_lo"]>200))
data = data[~out_filter]

In [14]:
len(data)

68983

In [15]:
out_filter2 = ((data["ap_hi"] < 0) | (data["ap_lo"] < 0))
data = data[~out_filter2]

In [16]:
data.head(3)

,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,18393,50.391781,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,20228,55.419178,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,18857,51.663014,1,165,64.0,130,70,3,1,0,0,0,1,23.507805

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68975 entries, 0 to 69999
Data columns (total 14 columns):
age_days       68975 non-null int64
age_year       68975 non-null float64
gender         68975 non-null int64
height         68975 non-null int64
weight         68975 non-null float64
ap_hi          68975 non-null int64
ap_lo          68975 non-null int64
cholesterol    68975 non-null int64
gluc           68975 non-null int64
smoke          68975 non-null int64
alco           68975 non-null int64
active         68975 non-null int64
cardio         68975 non-null int64
bmi            68975 non-null float64
dtypes: float64(3), int64(11)
memory usage: 7.9 MB

In [18]:
target_name = 'cardio'
data_target = data[target_name]
data = data.drop([target_name], axis=1)

In [33]:
train, test, target, target_test = train_test_split(data, data_target, test_size=0.25)

In [20]:
train.head(3)

,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,bmi
31684,21263,58.254795,2,160,76.0,130,80,1,1,0,1,1,29.687500
5634,14684,40.230137,2,184,70.0,120,80,1,1,0,0,1,20.675803
58675,23436,64.208219,1,158,76.0,120,80,1,1,0,0,1,30.443839

In [21]:
test.head(3)

,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,bmi
51756,20272,55.539726,1,161,75.0,120,80,1,1,0,0,1,28.934069
9378,21872,59.923288,1,175,70.0,120,70,1,1,0,0,1,22.857143
5060,18140,49.698630,1,165,65.0,120,80,2,2,0,0,1,23.875115

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55180 entries, 31684 to 69281
Data columns (total 13 columns):
age_days       55180 non-null int64
age_year       55180 non-null float64
gender         55180 non-null int64
height         55180 non-null int64
weight         55180 non-null float64
ap_hi          55180 non-null int64
ap_lo          55180 non-null int64
cholesterol    55180 non-null int64
gluc           55180 non-null int64
smoke          55180 non-null int64
alco           55180 non-null int64
active         55180 non-null int64
bmi            55180 non-null float64
dtypes: float64(3), int64(10)
memory usage: 5.9 MB

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13795 entries, 51756 to 61199
Data columns (total 13 columns):
age_days       13795 non-null int64
age_year       13795 non-null float64
gender         13795 non-null int64
height         13795 non-null int64
weight         13795 non-null float64
ap_hi          13795 non-null int64
ap_lo          13795 non-null int64
cholesterol    13795 non-null int64
gluc           13795 non-null int64
smoke          13795 non-null int64
alco           13795 non-null int64
active         13795 non-null int64
bmi            13795 non-null float64
dtypes: float64(3), int64(10)
memory usage: 1.5 MB

In [24]:
#Decision Tree classifier

In [27]:

decision_tree = DecisionTreeClassifier()
decision_tree.fit(train, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [28]:
acc_decision_tree = round(decision_tree.score(train, target) * 100, 2)
acc_decision_tree

99.98

In [29]:
acc_test_decision_tree = round(decision_tree.score(test, target_test) * 100, 2)
acc_test_decision_tree

63.94

In [30]:
# Random Forest

In [34]:
random_forest = GridSearchCV(estimator=RandomForestClassifier(), param_grid={'n_estimators': [100, 300]}, cv=5).fit(train, target)
random_forest.fit(train, target)
acc_random_forest = round(random_forest.score(train, target) * 100, 2)
print(acc_random_forest,random_forest.best_params_)

99.98 {'n_estimators': 300}

In [35]:
acc_test_random_forest = round(random_forest.score(test, target_test) * 100, 2)
acc_test_random_forest

72.29

In [36]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(criterion="entropy", max_depth = 10)
model_tree.fit(train, target)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [38]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators = 100, random_state = 1)
model_rf.fit(train, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [39]:
y_pred = model_rf.predict(test).round(0)

In [41]:
    ### Making the Confusion Matrix

    from sklearn.metrics import confusion_matrix


    cm = confusion_matrix(target_test, y_pred)
    print("DecisionTree")
    print(cm)
    print('Accurancy: {:.0f}%'.format(model_rf.score(test, target_test)*100))

DecisionTree
[[6475 2270]
 [2531 5968]]
Accurancy: 72%